@import "bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

// RESET

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.border-title {
  border-bottom: 2px solid orange;
  width: 100px;
  margin: 0 auto;
}
